@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Ultralight.woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-UltralightItalic.woff2");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Light.woff2");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-LightItalic.woff2");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-MediumItalic.woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-BoldItalic.woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Ultrabold.woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-UltraboldItalic.woff2");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/fonts/neue_montreal/PPNeueMontreal-Thin.woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-ThinItalic.woff2");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Book.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Italic.woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-BoldItalic.woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
h1 {
  font-family: "PP Hatton";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0px;
  margin: 0;
  color: #F4F5F6;
}

h2 {
  font-family: "PP Hatton";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  margin: 0;
  color: #F4F5F6;
}

h3 {
  font-family: "PP Hatton";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0px;
  margin: 0;
  color: #F4F5F6;
}

h4 {
  font-family: "PP Hatton";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.56px;
  margin: 0;
  color: #F4F5F6;
}

h5 {
  font-family: "PP Hatton";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin: 0;
  color: #F4F5F6;
}

h6 {
  font-family: "PP Hatton";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.32px;
  margin: 0;
  color: #F4F5F6;
}

p {
  font-family: "PP Neue Montreal";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.32px;
  margin: 0;
  color: #9B9EA3;
}

a {
  font-family: "PP Neue Montreal";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.4px;
  text-decoration: none;
  margin: 0;
  color: #F4F5F6;
}

span {
  font-family: "PP Neue Montreal";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  color: #F4F5F6;
}

button {
  font-family: "PP Neue Montreal";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0;
  color: #F4F5F6;
}

@media (min-width: 516px) {
  h1 {
    font-family: "PP Hatton";
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: 104px;
    margin: 0;
    color: #F4F5F6;
  }
  h2 {
    font-family: "PP Hatton";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    margin: 0;
    color: #F4F5F6;
  }
  h3 {
    font-family: "PP Hatton";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    margin: 0;
    color: #F4F5F6;
  }
  h4 {
    font-family: "PP Hatton";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    color: #F4F5F6;
  }
  h5 {
    font-family: "PP Hatton";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin: 0;
    color: #F4F5F6;
  }
  h6 {
    font-family: "PP Hatton";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
    color: #F4F5F6;
  }
  p {
    font-family: "PP Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    color: #9B9EA3;
  }
  a {
    font-family: "PP Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    color: #F4F5F6;
  }
  span {
    font-family: "PP Neue Montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    color: #F4F5F6;
  }
  button {
    font-family: "PP Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    color: #F4F5F6;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
}

body {
  max-width: 88%;
  margin: 0 auto;
}

#sc-main {
  width: 100%;
  height: 80%;
  z-index: 100;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% auto 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 10%;
}
#sc-main #main-headline {
  grid-column: 1/9;
  grid-row: 2/-2;
}
#sc-main #main-description {
  grid-column: 1/5;
  grid-row: -2/-1;
  margin-right: 8%;
}
#sc-main #main-description #main-text {
  margin-bottom: 10%;
}
#sc-main #main-description button {
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #f4f5f6;
  color: #151515;
}
#sc-main #yr-exp {
  align-self: self-start;
  grid-row: -2/-1;
  grid-column: 5/9;
  display: flex;
  flex-direction: row;
}
#sc-main #yr-exp img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

#grid {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100%;
  max-width: 88%;
  height: 100%;
  margin: 0 auto;
}
#grid #grid-columns {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}
#grid #grid-cell:nth-child(1) {
  grid-column: 1/5;
  border-left: solid 1px #191919;
}
#grid #grid-cell:nth-child(2) {
  grid-column: 5/9;
  border-left: solid 1px #191919;
  border-right: solid 1px #191919;
}
#grid #grid-cell:nth-child(3) {
  grid-column: 9/13;
  border-right: solid 1px #191919;
}

header {
  width: 100%;
  max-width: 88%;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
header nav {
  display: flex;
  flex-direction: row;
}
header nav a {
  margin-left: 24px;
  position: relative;
}
header nav a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 150ms ease-in-out;
}
header nav a:hover::before {
  width: 100%;
}/*# sourceMappingURL=main.css.map */