@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Ultralight.woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-UltralightItalic.woff2");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Light.woff2");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-LightItalic.woff2");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-MediumItalic.woff2");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-BoldItalic.woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-Ultrabold.woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "PP Hatton";
  src: url("/assets/fonts-toolkit/fonts/hatton/PPHatton-UltraboldItalic.woff2");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/fonts/neue_montreal/PPNeueMontreal-Thin.woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-ThinItalic.woff2");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Book.woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Italic.woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PP Neue Montreal";
  src: url("/assets/fonts-toolkit/neue_montreal/PPNeueMontreal-BoldItalic.woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
h1 {
  font-family: "PP Hatton";
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: 0px;
  margin: 0;
  color: #F4F5F6;
}

h2 {
  font-family: "PP Hatton";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  margin: 0;
  color: #F4F5F6;
}

h3 {
  font-family: "PP Hatton";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0px;
  margin: 0;
  color: #F4F5F6;
}

h4 {
  font-family: "PP Hatton";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.56px;
  margin: 0;
  color: #F4F5F6;
}

h5 {
  font-family: "PP Hatton";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.64px;
  margin: 0;
  color: #F4F5F6;
}

h6 {
  font-family: "PP Hatton";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0;
  color: #F4F5F6;
}

p {
  font-family: "PP Neue Montreal";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.08px;
  margin: 0;
  color: #9B9EA3;
}

a {
  font-family: "PP Neue Montreal";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.24px;
  text-decoration: none;
  margin: 0;
  color: #F4F5F6;
}

span {
  font-family: "PP Neue Montreal";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  color: #F4F5F6;
}

button {
  font-family: "PP Neue Montreal";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0;
  color: #F4F5F6;
}

@media (min-width: 516px) {
  h1 {
    font-family: "PP Hatton";
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: 104px;
    margin: 0;
    color: #F4F5F6;
  }
  h2 {
    font-family: "PP Hatton";
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    margin: 0;
    color: #F4F5F6;
  }
  h3 {
    font-family: "PP Hatton";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    margin: 0;
    color: #F4F5F6;
  }
  h4 {
    font-family: "PP Hatton";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    color: #F4F5F6;
  }
  h5 {
    font-family: "PP Hatton";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    margin: 0;
    color: #F4F5F6;
  }
  h6 {
    font-family: "PP Hatton";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
    color: #F4F5F6;
  }
  p {
    font-family: "PP Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    color: #9B9EA3;
  }
  a {
    font-family: "PP Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #F4F5F6;
  }
  span {
    font-family: "PP Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #F4F5F6;
  }
  button {
    font-family: "PP Neue Montreal";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    color: #F4F5F6;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
}

body {
  max-width: 88%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

@media (min-width: 1800px) {
  body {
    max-width: 1440px;
  }
}
#sc-main {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 10% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sc-main #main-headline {
  max-width: 960px;
  text-align: center;
  margin-bottom: 40px;
}
#sc-main #main-box {
  max-width: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
#sc-main #main-box #main-text {
  margin-bottom: 32px;
  text-align: center;
}
#sc-main #main-box #main-button {
  cursor: pointer;
  border: none;
  padding: 16px 24px;
  border-radius: 8px;
  color: #0C0D0F;
}
#sc-main #main-experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}
#sc-main #main-experience img {
  margin-right: 8px;
}

@media (max-width: 516px) {
  #sc-main {
    padding: 40% 0 5% 0;
  }
}
#projects {
  width: 100%;
}
#projects #section-header {
  padding: 24px 0;
  border-top: 1px solid #191919;
}
#projects #project-card {
  width: 100%;
  padding-bottom: 5%;
}
#projects #project-card img {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  background-image: url("/assets/images/flash.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  z-index: 100;
}
#projects #project-card img:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
#projects #project-card img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects #project-card #project-card-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 32px 0;
}
#projects #project-card #project-card-content #project-info {
  grid-column: 1/4;
}
#projects #project-card #project-card-content #project-description {
  grid-column: 4/10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: 16px;
}
#projects #project-card #project-card-content #project-description h3 {
  grid-column: 1/-1;
  grid-row: 1/2;
}
#projects #project-card #project-card-content #project-description p {
  grid-column: 1/2;
  grid-row: 2/3;
}
#projects #project-card #project-card-content #project-description button {
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: #0C0D0F;
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: self-start;
  justify-self: flex-start;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1200px) {
  #projects #project-card #project-card-content #project-description p {
    grid-column: 1/3;
  }
}
#grid {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 1;
  width: 100%;
  max-width: 88%;
  height: 100%;
  margin: 0 auto;
}
#grid #grid-columns {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#grid #grid-cell:nth-child(1) {
  grid-column: 1/4;
  border-left: solid 1px #202020;
}
#grid #grid-cell:nth-child(2) {
  grid-column: 4/7;
  border-left: solid 1px #202020;
}
#grid #grid-cell:nth-child(3) {
  grid-column: 7/10;
  border-left: solid 1px #202020;
}
#grid #grid-cell:nth-child(4) {
  grid-column: 10/13;
  border-left: solid 1px #202020;
  border-right: solid 1px #202020;
}

@media (min-width: 1800px) {
  #grid {
    max-width: 1440px;
  }
}
header {
  width: 100%;
  max-width: 88%;
  padding: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 150;
}
header nav {
  display: flex;
  flex-direction: row;
}
header nav #nav-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 16px;
}
header nav #nav-item img {
  margin-left: 2px;
}
header nav #nav-item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #636566;
  transition: width 125ms ease-in-out;
}
header nav #nav-item:hover::before {
  width: 100%;
}

@media (min-width: 1800px) {
  header {
    max-width: 1440px;
  }
}/*# sourceMappingURL=main.css.map */