header {
    width: 100%;
    max-width: 88%;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 150;

    nav {
        display: flex;
        flex-direction: row;
        

        #nav-item {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 16px;

            img {
                margin-left: 2px;
            }
        }

        #nav-item::before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0%;
            height: 2px;
            background-color: #636566;
            transition: width 125ms ease-in-out;
        }

        #nav-item:hover::before {
            width: 100%;
        }
    }
}

@media (min-width: 1800px) {
    header {
        max-width: 1440px;
    }
}