header {
    width: 100%;
    max-width: 88%;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    animation-name: header-enter;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;

    #header-leading {

        #role {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            letter-spacing: .32px;
            color: #77797A;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        

        #nav-item {
            display: flex;
            align-items: center;
            position: relative;
            margin-left: 24px;

            img {
                margin-left: 2px;
            }
        }

        #nav-item::before {
            content: '';
            position: absolute;
            bottom: -2px;
            width: 0%;
            height: 2px;
            background-color: #636566;
            transition: width 125ms ease-in-out;
        }

        #nav-item:hover::before {
            width: 100%;
        }
    }
}

@keyframes header-enter {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 100;
        transform: translateY(0);
    }
}