#sc-main {
    width: 100%;
    height: 80%;
    z-index: 100;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% auto 1fr;
    column-gap: 16px;
    row-gap: 10%;

    #main-headline {
        grid-column: 1 / 9;
        grid-row: 2 / -2;
    }

    #main-description {
        grid-column: 1 / 5;
        grid-row: -2 / -1;
        margin-right: 8%;

        #main-text {
            margin-bottom: 10%;
        }

        button {
            border: none;
            padding: 16px 24px;
            border-radius: 8px;
            background-color: #f4f5f6;
            color: #151515;
        }
    }

    #yr-exp {
        align-self: self-start;

        img {
            width: 24px;
            height: 24px;
            margin-right: 12px;
        }

        grid-row: -2 / -1;
        grid-column: 5 / 9;
        display: flex;
        flex-direction: row;
    }

}